<% provide :title, @club.name %>
<%= render 'header' %>
<% content_for :leftside do %>
    <%# render 'sidenav' %>
<% end %>

<div class="widget">
  <div class="widget-header">
    <h3>Angebote</h3>
  </div>
  <div class="widget-content">

<%  unless @club.public_offers.empty? %>
    <%= render :partial => 'public_offers/offers' %>
<% else %>
    <div class="alert alert-info">Du hast noch keine Angebote erstellt</div>
<% end  %>
  </div>
</div>



