<table class="table table-bordered table-striped">
  <tr>
    <th>Anfrage vom</th>
    <th>Name</th>
    <th>Aktuelle Liga</th>
    <th>Position</th>
    <th></th>
  </tr>

  <% player_contacts.each do |contact| %>
      <tr>
        <td><%=  date_formatter(contact.created_at) %></td>
        <td><%= contact.full_name  %></td>
        <td><%= contact.current_league.name unless contact.current_league.nil? %></td>
        <td><%# contact.position.name unless contact.position.nil? %></td>
        <td><%= link_to "Details",public_offer_player_contact_path( public_offer.id, contact.id), class:'btn btn-mini btn-success'%></td>
      </tr>
  <% end %>
</table>