<h1>Überarbeite Deine Anfrage</h1>

<%= render 'form' %>

<%= link_to 'Show', public_offer_player_contact_path(@public_offer.id, @player_contact) %> |
<%= link_to 'Back', public_offer_player_contacts_path(@public_offer) %>
