<table class="table table-bordered table-striped" id="team_list">
  <thead>
  <tr>
    <th>Name</th>
    <th>Mannschaftsart</th>
    <th>Liga</th>
    <th></th>
  </tr>
  </thead>
<tbody>
  <% @teams.each do |team| %>
    <%= render partial:'teams/team', :locals=>{team:team} %>
  <% end %>
  </tbody>
</table>
