
<% content_for :leftside do %>
    <%=     render 'clubs/sidenav' %>
<% end %>
<%= render 'clubs/header' %>
<h3>Meine Mannschaften</h3>
<%= render :partial => 'teams' %>

<br />

<%= link_to 'New Team', new_club_team_path(@club) %>
