<div class="span12">
<div class="widget">
  <div class="widget-header">
      <icon class="icon-th-large"/><h3>Wähle Dein Plan aus</h3>
  </div>
  <div class="widget-content">
    <div class="pricing-plans plans-3">
      <div class="plan-container">
        <div class="plan">
          <div class="plan-header">

            <div class="plan-title">
              Basis
            </div> <!-- /plan-title -->

            <div class="plan-price">
              <span class="note">€</span>0<span class="term">pro Jahr</span>
            </div> <!-- /plan-price -->

          </div> <!-- /plan-header -->

          <div class="plan-features">
            <ul>
              <li>Probier unser Angebot <strong>kostenlos</strong> aus</li>
              <li>max. <strong>1</strong> Spielergesuch</li>
              <li>kein Zugriff auf Spielerangebote</li>
            </ul>
          </div> <!-- /plan-features -->

          <div class="plan-actions">
            <%= link_to "Anmelden", new_club_path(membership:"free"), class:'btn' %>
          </div> <!-- /plan-actions -->

        </div> <!-- /plan -->
      </div> <!-- /plan-container -->
      <div class="plan-container">
        <div class="plan orange">
          <div class="plan-header">

            <div class="plan-title">
              Professionell
            </div> <!-- /plan-title -->
            <div class="plan-price">
              <span class="note">€</span>24<span class="term">pro Jahr</span>
            </div> <!-- /plan-price -->

          </div> <!-- /plan-header -->

          <div class="plan-features">
            <ul>
              <li>Biete an,  <strong>soviel Du willst</strong> aus</li>
              <li><strong>unbegrenzte</strong> Anzahl Spielergesuche</li>
              <li>kein Zugriff auf Spielerangebote</li>
            </ul>
          </div> <!-- /plan-features -->

          <div class="plan-actions">
            <%= link_to "Anmelden", new_club_path(membership:"pro"), class:'btn' %>
          </div> <!-- /plan-actions -->

        </div> <!-- /plan -->
      </div> <!-- /plan-container -->
      <div class="plan-container">
        <div class="plan">
          <div class="plan-header">

            <div class="plan-title">
              Premium
            </div> <!-- /plan-title -->

            <div class="plan-price">
              <span class="note">€</span>49<span class="term">pro Jahr</span>
            </div> <!-- /plan-price -->

          </div> <!-- /plan-header -->

          <div class="plan-features">
            <ul>
              <li><span>die besten Spieler für Dich</span></li>
              <li><span>unbegrenzte Anzahl Spielergesuche</span></li>
              <li><span>Zugriff auf alle Spielerangebote</span></li>
            </ul>
          </div> <!-- /plan-features -->

          <div class="plan-actions">
            <%= link_to "Anmelden", new_club_path(membership:"premium"), class:'btn' %>
          </div> <!-- /plan-actions -->

        </div> <!-- /plan -->
      </div> <!-- /plan-container -->
    </div>
  </div>
</div>
</div>