<% provide :title, 'Spielermarkt' %>

<header class="jumbotron subhead" id="overview">
  <h1>Spielermarkt</h1>
  <p class="lead">Finde Deinen Spieler - alle Angebote aus Deiner Region</p>
  <% @player_profiles.each do |player_profile| %>
      <div class="well">
        <h3><%=player_profile.full_name %></h3>

        Position: <%=  player_profile.position.name unless player_profile.position.nil? %>
        <div id="btn-contact">
          <%= link_to 'Kontakt',new_player_profile_club_contact_path(:player_profile_id=>player_profile) ,class:'btn btn-primary' %>
        </div>
      </div>

  <% end  %>
