<div class="subnav">
  <ul class="nav nav-pills">
    <li><%= link_to "All Offers", public_offers_path %></li>
    <li class="active"><%= link_to 'New Offer', new_public_offer_path %></li>
  </ul>
</div>
<%= render 'form' %>

<%= link_to 'Back', public_offers_path %>
