<h1>Profil aktualisieren</h1>
<p>Dein Profil hat sich verändert? Trage hier die neuen Daten ein.</p>
<%= render 'form' %>

<%= link_to 'Show', @player_profile %> |
<%= link_to 'Back', player_profiles_path %>
