<h1>Profil aktualisieren</h1>
<p>Dein Profil hat sich verändert? Trage hier die neuen Daten ein.</p>
<%= render 'form' %>

<%= link_to 'Profil anzeigen', @player_profile %> |
<%= link_to 'Zurück', player_profiles_path %>
