<% unless user_signed_in? %>
    <div class= "well">
      <h3>Schon bei uns angemeldet?</h3>
      <p>
        <%= link_to "Anmelden", new_user_registration_path, class:"btn btn-success" %>
        oder
        <%= link_to "Einloggen", new_user_session_path, class:"btn btn" %>
      </p>
      <p>
        Die Anmeldung ist v&ouml;llig kostenlos und erlaubt Dir, mehr Inhalte bei spielertransfer24 zu entdecken
      </p>
    </div>
<% end%>